<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <connectionStrings>
    <add name="EdmxTool.Properties.Settings.InflectorTestConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=InflectorTest;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="InflectorTestEntitiesProcessed" connectionString="metadata=res://*/resources.min-processed.csdl|res://*/resources.min-processed.ssdl|res://*/resources.min-processed.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=InflectorTest;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="InflectorTestEntities" connectionString="metadata=res://*/resources.min.csdl|res://*/resources.min.ssdl|res://*/resources.min.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=InflectorTest;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="MoviesContainer" connectionString="metadata=res://*/resources.Movies.csdl|res://*/resources.Movies.ssdl|res://*/resources.Movies.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=VENOM\SQLEXPRESS;initial catalog=cinema;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="EdmxTypist.Properties.Settings.InflectorTestConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=InflectorTest;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EdmxTypist.Properties.Settings.MetaContext" connectionString="Data Source=|DataDirectory|\MetaModel.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>